<header>
  <div class="ui-g">
    <div class="ui-g-10">
      <div class="logo" >
        <a [routerLink]="['']">
          <img id="logo" src="assets/images/AWH Logo_RGB_No_Tag _White.png">
        </a>
      </div>
    </div>
    <div class="ui-g-2">
      <div id="header-info" class="ui-g">
        <div class="ui-g-6">
          <a href="">
            <fa name="cog" size="2x"></fa>
          </a>
        </div>
        <div class="ui-g-6">
          <a href="">
            <fa name="user" size="2x"></fa>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
